venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

data/raw/*/*
!data/raw/*/.gitkeep
data/processed/*/*
!data/processed/*/.gitkeep

models/*
!models/.gitkeep

lightning_logs/
.env
*.log
.DS_Store